/* class */
div.font_style {
    /*微軟正黑體*/
    font-family: Microsoft JhengHei;
    /*文字置中*/
    text-align: center;
    
}

h1.setting1 {
    /*文字置中*/
    text-align: center;
}

tr.setting2 {
    text-align: center;
    background-color: bisque;
}

table.style1 {
    border: 3px solid black;
}
/********************************/
/* id */
#exp_name {
    text-align: center;
}