html {
	height: 100%;
}
body {
	font: 16px/22px Arial, sans-serif;
	width: 100%;
	height: 100%;
}

.wrapper {
/*    height:inherit;*/
	width: 1000px;
	margin: auto;
/*	min-height: 100%;*/
/*	height: auto;*/
/*    height: 100%;*/
}
/* -------------------------- */
/* -------------------------- */
/* Header */
.header {
	height: 150px;
	background: #e4f0ff;
/*    line-height: 150px;*/
    text-align: center;
    border-bottom: 2px solid #4782b9;
}
/* -------------------------- */
/* -------------------------- */
/* Middle */
/* 主選單 + 主內容 : 最外層 */
.middle {
	width: 100%;
    height: auto;
	padding: 0 0 0px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
/* 主選單 + 主內容 : 第二層 */
.container {
	width: 100%;
    height: 100%;
	float: left;
	overflow: hidden;
}
/* 主內容 */
.content {
/*    相對位置*/
	padding: 0 0 0 200px;
/*    絕對位置*/
/*    margin: 0px 0px 0px 270px;*/
}
/* 主內容 > 標題 */
.content h5 {
    text-align: center;
}
/* 主內容 > 圖片 */
#skill img {
    width: 100%;
}
/* -------------------------- */
/* -------------------------- */
/* 主選單 */
.left-sidebar {
    overflow: auto;
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
/*    max-height: auto;*/
/*    測試用，所以上顏色*/
/*	background: #B5E3FF;*/
    height: inherit;
/*    border-right: 2px solid #4782b9;*/
}

.tabs_left_side {
    list-style: none;
}
/* -------------------------- */
/* -------------------------- */
/* Footer */
.footer {
    border-top: 2px solid #4782b9;
	width: 1000px;
	margin: 0 auto 0;
/*	height: 50px;*/
	background: #ffffff;
	position: relative;
}
    /* 管理圖片設定*/
    .footer table tr td img {
        width: 30%;
    }